.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;

}

.form__field {
    font-family: 'Poppins', sans-serif;
    width: 350px;
    border: 0;
    border-bottom: 2px solid #ec8434;
    outline: 0;
    color: black;
    padding: 7px 0;
    background: transparent;
    margin-bottom: 35px;
}

select:required:invalid{
    color: gray;
}

select:invalid > option[value=""][disabled]{
    display: none;
}

select{
    color: black;
}


.form__label {
    position: absolute;
    top: 0;
    display: block;
    font-size: 1rem;
    color: #ec8434;
}

thead {
    background-color: #ec8434;
    border-radius: 2px;
}

td {
    padding: 20px;
}

.extraItem{
    width: 200px;
    margin-top: -3px;
    float: right;
    margin-bottom: 0px;
}

.extraItemContainer{
    height: 16px;
    padding: 9px 0px;
    margin-bottom: 30px;
}



