@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.tablink:hover {
    background-color: orange;
}

.tabcontent {
    background-color: white;
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;

}

.tablink {
    background-color: darkorange;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

th, tr, thead, tbody, table, td{
}

table{
    border-spacing: 0px;
}

tr:nth-child(even){
    background-color: #fff1e3;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.tabs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
}

#formular{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

h1{
    text-align: center;
}

#createbutton {
    background: darkorange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}

#viewcustomer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1558px;
}

#viewemployee{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1501px;
}

#viewMotorhomes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1012px;
}

#viewcontract{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1558px;
}

#errorBox {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 14px;
    width: 700px;
    margin-bottom: 30px;
}

.btnDelete, .btnCancel, .btnUpdate, .btnInvoice {
    background: darkorange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}