body{
    font-family: 'Roboto', sans-serif;
}

#logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

#customerPicture, #contractPicture, #employeePicture, #motorhomePicture{
    max-height: 25%;
    max-width: 25%;
    float: left;
    text-align: center;
    align-content: center;
}



.customerText{
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: left;
    float: bottom;
}



#creators{
    text-align: center;
    bottom: 0;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

