<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="error.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>NMR - Error 500</title>
</head>
<body>
<div class="logo">
    <a href="/">
        <img alt="logo" id="logo" src="logo.png"/>
    </a>
</div>
<h2>There was a problem with your request. Please contact an administrator.</h2>
<br>
<p>The complete error message is provided below:</p><br>
<div id="errorBox" th:text="${errorMessage}"></div>
<p><a href="/">Go Home</a></p>
</body>
</html>