<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <link href="general.css" rel="stylesheet" type="text/css">
    <link href="form.css" rel="stylesheet" type="text/css">
    <title>NMR - Contract</title>
    <script src="https://use.fontawesome.com/8a5c9ad142.js"></script>
    <style>
        .accordion > input[type="checkbox"] {
            position: absolute;
            left: -100vw;
        }

        .accordion .content {
            overflow-y: hidden;
            height: 0;
            transition: height 2000ms ease;
        }

        .accordion > input[type="checkbox"]:checked ~ .content {
            height: auto;
            overflow: visible;
        }

        .accordion > input[type="checkbox"]:checked ~ .content {
            border-bottom: 1px solid #e8e8e8;
            width: 350px;
            border-top: 0;
        }

        .accordion label {
            display: block;
            font-size: 15px;
            color: black;
            cursor: pointer;
            font-weight: normal;
            width: 320px;
            padding: 15px;
            background: darkorange;
            border-radius: 10px;
        }

        .accordion label:hover,
        .accordion label:focus {
            background: orange;
        }

        .accordion .handle label:before {
            font-family: 'fontawesome';
            content: "\f054";
            display: inline-block;
            margin-right: 10px;
            font-size: .58em;
            line-height: 1.556em;
            vertical-align: middle;
        }

        .accordion > input[type="checkbox"]:checked ~ .handle label:before {
            content: "\f078";
        }

        .accordion{
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

<div class="logo">
    <a href="/">
        <img id="logo" alt="logo" src="logo.png"/>
    </a>
</div>



<div id="errorBox" th:text="${message}" th:if="${message != null}"></div>

<div class="tabs">
    <button class="tablink" id="viewContractTab" onclick="openPage('viewcontract', this, 'lightsalmon')">View Contract</button>
<button class="tablink" id="createContractTab" onclick="openPage('createcontract', this, 'lightsalmon')" style="float: left; margin-right: 20px">Create Contract</button>

</div>
<div class="tabcontent" id="createcontract">
    <div id="formular">
        <h1>Create contract</h1>
        <form action="contract" method="post">

            <div class="form__group field">
            <input name="rentalStartDate" type="text" class="form__field" placeholder="Start Date">
            <input name="rentalEndDate" type="text" class="form__field" placeholder="End Date">


                    <select id="slctPickUpPoint" name="pickUpPoint" class="form__field">
                        <option label="Pick Up Point" value="" disabled selected></option>
                        <option label="NMR - Headquarters" value="NMR - Headquarters"></option>
                        <option label="Airport" value="Airport"></option>
                        <option label="Copenhagen Central Station" value="Copenhagen Central Station"></option>
                    </select>




                <select id="slctDropOffPoint" name="dropOffPoint" class="form__field">
                    <option label="Drop Off Point" value="" disabled selected></option>
                    <option label="NMR - Headquarters" value="NMR - Headquarters"></option>
                    <option label="Airport" value="Airport"></option>
                    <option label="Copenhagen Central Station" value="Copenhagen Central Station"></option>
                </select>

                <section class="accordion">
                    <input type="checkbox" name="collapse2" id="handle2">
                    <h2 class="handle">
                        <label for="handle2">Select Extras</label>
                    </h2>
                    <div class="content">
                        <div style="margin-bottom: 20px; display: block" >Choose desired amount below:</div>
                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Bike Racks:</span>
                            <input type="number" class="form__field extraItem"  name="bikeRack" id='bikeRack' value="0" required min="0" max="5"/>
                            </div>

                        <div class="extraItemContainer">
                            <input type="number" class="form__field extraItem" name="bedLinen" id='bedLinen' value="0" required min="0" max="5"/>
                            <span style="font-size: 13.333px">Bed Linens:</span>

                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Child Seats:</span>
                            <input type="number" class="form__field extraItem" name="childSeat" id='childSeat' value="0" required min="0" max="5"/>
                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Picnic Tables:</span>
                            <input type="number" class="form__field extraItem" name="picnicTable" id='picnicTable' value="0" required min="0" max="5"/>
                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Chairs:</span>
                            <input type="number" class="form__field extraItem" name="chairs" id='chairs' value="0" required min="0" max="5"/>
                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Grills:</span>
                            <input type="number" class="form__field extraItem" name="grill" id='grill' value="0" required min="0" max="5"/>
                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Lanterns:</span>
                            <input type="number" class="form__field extraItem" name="lantern" id='lantern' value="0" required min="0" max="5"/>
                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">First Aid Kits:</span>
                            <input type="number" class="form__field extraItem" name="firstAidKit" id='firstAidKit' value="0" required min="0" max="5"/>
                        </div>

                        <div class="extraItemContainer">
                            <span style="font-size: 13.333px">Toilet Paper:</span>
                            <input type="number" class="form__field extraItem" name="toiletPaper" id='toiletPaper' value="0" required min="0" max="5"/>
                        </div>
                    </div>
                </section>


                    <select id="slctCustomer" name="customerId" class="form__field">
                        <option label="Customer ID" value="" disabled selected></option>
                        <tr th:each="customer: ${customers}">
                            <option th:value="${customer.id}">
                                <td th:text="${customer.id}"/>
                                <td th:text="${customer.firstName}"/>
                                <td th:text="${customer.lastName}"/>
                            </option>
                        </tr>
                    </select>



                    <select id="slctMotorhome" name="motorhomeId" class="form__field">
                        <option label="Motorhome ID" value="" disabled selected></option>
                        <tr th:each="motorhome: ${motorhomes}">
                            <option th:value="${motorhome.id}">
                                <td th:text="${motorhome.id}"/>
                                <td th:text="${motorhome.brand}"/>
                                <td th:text="${motorhome.model}"/>
                            </option>
                        </tr>
                    </select>


                <div class="selectEmployee">
                    <select id="slctEmployee" name="employeeId" class="form__field">
                        <option label="Employee ID" value="" disabled selected></option>
                        <tr th:each="employee: ${employees}">
                            <option th:value="${employee.id}">
                                <td th:text="${employee.id}"/>
                                <td th:text="${employee.firstName}"/>
                                <td th:text="${employee.lastName}"/>
                                <td th:text="${employee.title}"/>
                            </option>
                        </tr>
                    </select>
                </div>

            <button id="createbutton" type="submit">Create Contract</button>

        </form>
    </div>
</div>
</div>
<div class="tabcontent" id="viewcontract">
    <h3>View Contracts</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Pick Up Point</th>
            <th>Drop Off Point</th>
            <th>Customer ID</th>
            <th>Motorhome ID</th>
            <th>Employee ID</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Invoice</th>
            <th>Cancel</th>

        </tr>
        </thead>
        <tr th:each="contract: ${contracts}">
            <td th:text="${contract.id}"/>
            <td th:text="${#temporals.format(contract.rentalStartDate, 'yyyy-MM-dd HH:mm')}"/>
            <td th:text="${#temporals.format(contract.rentalEndDate, 'yyyy-MM-dd HH:mm')}"/>
            <td th:text="${contract.pickUpPoint}"/>
            <td th:text="${contract.dropOffPoint}"/>
            <td th:text="${contract.customerId}"/>
            <td th:text="${contract.motorhomeId}"/>
            <td th:text="${contract.employeeId}"/>

            <td>
                <a th:href="@{'/deletecontract/'+${contract.id}}">
                    <button onclick="return confirm('Are you sure you want to delete?')" class="btnDeleteContract">Delete</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/updatecontract/'+${contract.id}}">
                    <button class="btnUpdateContract">Update</button>
                </a>
            </td>
            <td>
                <div class="invoice">
                    <a th:href="@{'/invoice/'+${contract.id}}">
                        <button>Invoice</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "orange";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;

        document.getElementById("errorBox").style.display = "none";
    }

    document.getElementById("viewContracts").click();
</script>

</body>
</html>