<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="customer.css" rel="stylesheet" type="text/css">
    <title>NMR - Customer</title>
</head>


<body>

<div class="logo">
    <a href="/">
        <img id="logo" alt="logo" src="logo.png"/>
    </a>
</div>

<button class="tablink" id="createCustomerTab" onclick="openPage('createcustomer', this, 'orange')">Create Customer</button>
<button class="tablink" id="viewCustomerTab" onclick="openPage('viewcustomer', this, 'orange')">View Customers</button>

<div class="tabcontent" id="createcustomer">
    <div id="formular">
    <h1>Create customer</h1>
        <form action="customer" method="post">

            <div class="form__group field">
                <input type="input" class="form__field" placeholder="First Name" name="firstName" id='firstName' required /> <br> <br>
                <input type="input" class="form__field" placeholder="Last Name" name="lastName" id='lastName' required /> <br> <br>
                <input type="input" class="form__field" placeholder="Phone Number" name="phoneNumber" id='phoneNumber' required /> <br> <br>
                <input type="input" class="form__field" placeholder="Email" name="email" id='email' required /> <br> <br>
                <input type="input" class="form__field" placeholder="Address" name="address" id='address' required /> <br> <br>
                <input type="input" class="form__field" placeholder="Zip Code" name="zipCode" id='zipCode' required /><br> <br>
                <input type="input" class="form__field" placeholder="Driver License Number" name="driverLicenceNumber" id='driverLicensenumber' required /> <br> <br>
            </div>


    <button id="createbutton" type="submit">Create Customer</button>

        </form>
    </div>
</div>
<div class="tabcontent" id="viewcustomer">
        <h3>View Customers</h3>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Driver licence number</th>
                <th>Zip code</th>
                <th>City</th>
                <th>Country</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>
            </thead>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.id}"/>
                <td th:text="${customer.firstName}"/>
                <td th:text="${customer.lastName}"/>
                <td th:text="${customer.phoneNumber}"/>
                <td th:text="${customer.email}"/>
                <td th:text="${customer.address}"/>
                <td th:text="${customer.driverLicenceNumber}"/>
                <td th:text="${customer.zipCode}"/>
                <td th:text="${customer.city}"/>
                <td th:text="${customer.country}"/>
                <td>
                    <a th:href="@{'/deleteCustomer/'+${customer.id}}">
                        <button onclick="return confirm('Are you sure you want to delete?')" class="btnDeleteCustomer">Delete</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/updatecustomer/'+${customer.id}}">
                        <button class="btnUpdateCustomer">Update</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>

<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "white";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    document.getElementById("viewCustomers").click();
</script>

</body>
</html>