<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<h1>Create customer<h1>

<body>

<form action="customer" method="post">
    <label>First name</label>
    <input name="firstName" type="text"><br>

    <label>Last name</label>
    <input name="lastName" type="text"><br>

    <label>Phone number</label>
    <input name="phoneNumber" type="text"><br>

    <label>Email</label>
    <input name="email" type="text"><br>

    <label>Address</label>
    <input name="address" type="text"><br>

    <label>Zip code</label>
    <input name="Zipcode" type="text"><br>

    <label>Driver Licence Number</label>
    <input name="driverLicenceNumber" type="text"><br>

    <button id="createbutton" type="submit">Create customer</button>
</form>

</body>
</html>