<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="general.css" rel="stylesheet" type="text/css">
    <link href="form.css" rel="stylesheet" type="text/css">
    <title>NMR - Employee</title>
</head>
<script type="text/javascript">
    function zoom() {
        if (navigator.platform == 'MacIntel') {
            document.body.style.zoom = "75%";
        }
    }
</script>
<body onload="zoom()">
<div class="logo">
    <a href="/">
        <img alt="logo" id="logo" src="logo.png"/>
    </a>
</div>

<div class="tabs">
    <button class="tablink" id="viewEmployeeTab" onclick="openPage('viewemployee', this, 'lightsalmon')">View
        Employees
    </button>
    <button class="tablink" id="createEmployeeTab" onclick="openPage('createemployee', this, 'lightsalmon')"
            style="float: left; margin-right: 20px">Create Employee
    </button>

</div>

<div class="tabcontent" id="createemployee">
    <div id="formular">
        <h1>Create employee</h1>
        <form action="employee" method="post">


            <input class="form__field" name="firstName" pattern="^[a-zæøåA-ZÆØÅ \\-\\.\\']*$" placeholder="First Name"
                   required type="text">


            <input class="form__field" name="lastName" pattern="^[a-zæøåA-ZÆØÅ \\-\\.\\']*$" placeholder="Last Name"
                   required type="text">


            <input class="form__field" name="phoneNumber" pattern="^[0-9]+" placeholder="Phone Number" required
                   type="text">


            <input class="form__field" name="email" pattern="^(.+)@(.+)$" placeholder="Email" required type="text">


            <input class="form__field" name="address" pattern="^([A-zæøåA-ZÆØÅ]{2,40}\\.?\\s)+([0-9]){1,5}\\w?(\\s.*)?$" placeholder="Address"
                   required type="text">


            <input class="form__field" name="zipCode" pattern="^(?:[1-24-9]\\d{3}|3[0-8]\\d{2})$" placeholder="Zip Code"
                   required type="text">


            <input class="form__field" name="title" pattern="^[a-zæøåA-ZÆØÅ \\-\\.\\']*$" placeholder="Title"
                   required type="text">

            <button id="createbutton" type="submit">Create employee</button>

        </form>
    </div>
</div>
<div class="tabcontent" id="viewemployee">

    <h3>View Employees</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Title</th>
            <th>Address</th>
            <th>Zip code</th>
            <th>City</th>
            <th>Country</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        </thead>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.id}"/>
            <td th:text="${employee.firstName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.phoneNumber}"/>
            <td th:text="${employee.email}"/>
            <td th:text="${employee.title}"/>
            <td th:text="${employee.address}"/>
            <td th:text="${employee.zipCode}"/>
            <td th:text="${employee.city}"/>
            <td th:text="${employee.country}"/>
            <td>
                <a th:href="@{'/deleteemployee/'+${employee.id}}">
                    <button class="btnDelete" onclick="return confirm('Are you sure you want to delete?')">Delete
                    </button>
                </a>
            </td>
            <td>
                <a th:href="@{'/updateemployee/'+${employee.id}}">
                    <button class="btnUpdate">Update</button>
                </a>
            </td>
        </tr>
    </table>
</div>

<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "orange";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    document.getElementById("viewEmployees").click();
</script>
</body>
</html>