<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="general.css" rel="stylesheet" type="text/css">
    <link href="form.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>

<form action="extras" method="post">
    <div class="form__group field">
        <input type="number" class="form__field" placeholder="Amount of Bike Racks:" name="bikeRack" id='bikeRack' min="0" max="5"/>
        <input type="number" class="form__field" placeholder="Amount of Bed Linen:" name="bedLinen" id='bedLinen' min="0" max="5"/>
        <input type="number" class="form__field" placeholder="Amount of Child Seats:" name="childSeat" id='childSeat' min="0" max="5"/>
    </div>
    <button onclick="self.close()">Close</button>
</form>

</body>
</html>