<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="index.css" rel="stylesheet" type="text/css">
    <title>NMR - Home</title>
</head>
<body>

<div class="logo">
    <a href="/">
        <img alt="logo" id="logo" src="logo.png"/>
    </a>
</div>

<div class="customerMenu">
    <a href="/customer">
        <img id="customerPicture" src="customer.png"/>
        <!--<button id="btn-customerMenu" onclick="window.location.href='/customer'">Customer Menu</button>-->
    </a>
</div>

<div class="employeeMenu">
    <a href="/employee">
        <img id="employeePicture" src="employee.png"/>
    </a>
</div>

<div class="motorhomeMenu">
    <a href="/motorhome">
        <img id="motorhomePicture" src="motorhome.png"/>
    </a>
</div>

<div class="contractMenu">
    <a href="/contract">
        <img id="contractPicture" src="contract.png"/>
    </a>
</div>
<br>
<br>
<div id="creators">
    <p>
        Coded by:<br>
        Lukas Bjerrum-Niese, Peter Melander, Mikkel Kenzy
    </p>
</div>

</body>
</html>