<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26510254-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-26510254-2');
    </script>

    <!--<meta charset="UTF-8" content="width=device-width, initial-scale=1.0" name="viewport"> -->
    <meta charset="UTF-8">

    <link href="index.css" rel="stylesheet" type="text/css">
    <title>NMR - Home</title>
</head>
<body>

<div class="logo">
    <a href="/">
        <img alt="logo" id="logo" src="logo.png"/>
    </a>
</div>
<div id="outerContainer">
    <div id="menuContainer">
        <a class="imgCaption" href="/customer" id="customerPicture">
            <img src="customer.png"/>
            <p>Customer</p>
            <!--<button id="btn-customerMenu" onclick="window.location.href='/customer'">Customer Menu</button>-->
        </a>


        <a class="imgCaption" href="/employee" id="employeePicture">
            <img src="employee.png"/>
            <p>Employee</p>
        </a>


        <a class="imgCaption" href="/motorhome" id="motorhomePicture">
            <img src="motorhome.png"/>
            <p>Motorhome</p>
        </a>

        <a class="imgCaption" href="/contract" id="contractPicture">
            <img src="contract.png"/>
            <p>Contract</p>
        </a>
    </div>
</div>

<div class="creators">
    <p>
        <br><br><br><br>Coded by:<br>
        Lukas Bjerrum-Niese, Peter Melander & Mikkel Karlsson
    </p>
</div>

</body>
</html>