<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="..\invoice.css" rel="stylesheet" type="text/css">
    <title>NMR - Invoice</title>
</head>
<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <a href="/">
                                <img alt="logo_invoice" id="logo_invoice" src="..\logo_invoice.png"
                                     style="width:100%; max-width:300px;">
                            </a>
                        </td>

                        <td>
                            Invoice / Contract # <span th:text="${contract.id}"></span><br>
                            Generated Date: <span th:text="${#temporals.format(localDate,'yyyy-MM-dd')}"></span>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            Nordic Motorhome Rental<br>
                            <span th:text="${employee.firstName}"></span> <span
                                th:text="${employee.lastName}"></span><br>
                            <span th:text="${employee.phoneNumber}"></span><br>
                            Østerfælled Torv 3<br>
                            2100 København Ø, DK
                        </td>

                        <td>
                            <br>Customer # <span th:text="${customer.id}"></span><br>
                            <span th:text="${customer.firstName}"></span> <span
                                th:text="${customer.lastName}"></span><br>
                            <span th:text="${customer.phoneNumber}"></span><br>
                            <span th:text="${customer.email}"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Payment Method
            </td>

            <td>
                <!-- Check # -->
            </td>
        </tr>

        <tr class="details">
            <td>
                Cash
            </td>

            <td>
                <!-- 525 -->
            </td>
        </tr>

        <tr class="heading">
            <td>
                Details
            </td>

            <td>
                <!-- Price -->
            </td>
        </tr>

        <tr class="item">
            <td>
                <span th:text="${motorhome.brand}"></span> <span th:text="${motorhome.model}"></span>, <span
                    th:text="${motorhome.vehicleType}"></span>
            </td>

            <td>
                Price Per Day: <span th:text="${motorhome.pricePerDay}"></span> DKK
            </td>
        </tr>

        <tr class="item">
            <td>
                Start Date
            </td>

            <td>
                <span th:text="${#temporals.format(contract.rentalStartDate, 'yyyy-MM-dd')}"></span>
            </td>
        </tr>

        <tr class="item">
            <td>
                End Date
            </td>

            <td>
                <span th:text="${#temporals.format(contract.rentalEndDate, 'yyyy-MM-dd')}"></span>
            </td>
        </tr>

        <tr class="item" th:if="${seasonalCharge > 0}">
            <td>
                Seasonal Fee
            </td>

            <td>
                <span th:text="${seasonalCharge}"></span> DKK
            </td>
        </tr>

        <tr class="item">
            <td>
                Pick Up Point
            </td>

            <td>
                <span th:text="${contract.pickUpPoint}"></span> <span th:text="${contract.pickUpPrice}"></span> DKK
            </td>
        </tr>


        <tr class="item">
            <td>
                Drop Off Point
            </td>

            <td>
                <span th:text="${contract.dropOffPoint}"></span> <span th:text="${contract.dropOffPrice}"></span> DKK

            </td>
        </tr>

        <tr class="item" th:if="${contract.fuelCharge}">
            <td>
                Fuel Fee
            </td>

            <td>
                525 DKK
            </td>
        </tr>

        <tr class="item last" th:if="${kmDrivenPrice > 0}">
            <td>
                Extra KM Driven Fee
            </td>

            <td>
                <span th:text="${kmDrivenPrice}"></span> DKK
            </td>
        </tr>

        <tr class="heading"
            th:if="${contract.bikeRack > 0 || contract.bedLinen > 0 || contract.childSeat > 0 || contract.picnicTable > 0 || contract.chairs > 0 || contract.grill > 0 || contract.lantern > 0 || contract.firstAidKit > 0 || contract.toiletPaper > 0}">
            <td>
                Extras
            </td>

            <td>
            </td>
        </tr>

        <tr class="item" th:if="${contract.bikeRack > 0}">
            <td>
                <span th:text="${contract.bikeRack}"></span> * Bike Rack
            </td>

            <td>
                <span th:text="${contract.bikeRack * 35}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.bedLinen > 0}">
            <td>
                <span th:text="${contract.bedLinen}"></span> * Bed Linen
            </td>

            <td>
                <span th:text="${contract.bedLinen * 20}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.childSeat > 0}">
            <td>
                <span th:text="${contract.childSeat}"></span> * Child Seats
            </td>

            <td>
                <span th:text="${contract.childSeat * 75}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.picnicTable > 0}">
            <td>
                <span th:text="${contract.picnicTable}"></span> * Picnic Tables
            </td>

            <td>
                <span th:text="${contract.picnicTable * 50}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.chairs > 0}">
            <td>
                <span th:text="${contract.chairs}"></span> * Chairs
            </td>

            <td>
                <span th:text="${contract.chairs * 10}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.grill > 0}">
            <td>
                <span th:text="${contract.grill}"></span> * Grill
            </td>

            <td>
                <span th:text="${contract.grill * 100}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.lantern > 0}">
            <td>
                <span th:text="${contract.Lantern}"></span> * Lantern
            </td>

            <td>
                <span th:text="${contract.lantern * 5}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.firstAidKit > 0}">
            <td>
                <span th:text="${contract.firstAidKit}"></span> * First Aid Kit
            </td>

            <td>
                <span th:text="${contract.firstAidKit * 250}"></span> DKK
            </td>
        </tr>

        <tr class="item" th:if="${contract.toiletPaper > 0}">
            <td>
                <span th:text="${contract.toiletPaper}"></span> * Toilet Paper
            </td>

            <td>
                <span th:text="${contract.toiletPaper * 2}"></span> DKK
            </td>
        </tr>

        <tr class="discount" th:if="${addDiscount > 0}">
            <td></td>

            <td>
                Cancellation Discount: <span th:text="${addDiscount.intValue()}"></span>%
            </td>
        </tr>

        <tr class="total">
            <td></td>

            <td>
                Total: DKK <span th:text="${contract.fullPrice}"></span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>