<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="/general.css" rel="stylesheet" type="text/css">
    <link href="/form.css" rel="stylesheet" type="text/css">
    <link href="/table.css" rel="stylesheet" type="text/css">
    <title>NMR - Motorhome</title>
</head>
<body>

<div class="logo">
    <a href="/">
        <img alt="logo" id="logo" src="/logo.png"/>
    </a>
</div>

<div id="errorBox" th:if="${message != null}" th:text="${message}"></div>

<div class="tabs">
    <button class="tablink" id="viewMotorhomeTab" onclick="openPage('viewMotorhomes', this, 'lightsalmon')">View
        Motorhomes
    </button>
    <button class="tablink" id="createMotorhomeTab" onclick="openPage('createmotorhome', this, 'lightsalmon')"
            style="float: left; margin-right: 20px">Create Motorhome
    </button>

</div>

<div class="tabcontent" id="createmotorhome">
    <div id="formular">
        <h1>Create Motorhome</h1>
        <form action="motorhome" method="post">

            <input
                    class="form__field"
                    name="brand"
                    pattern="^[a-zæøåA-ZÆØÅ \-\.\']*$"
                    placeholder="Brand"
                    required
                    type="text">


            <input
                    class="form__field"
                    name="model"
                    placeholder="Model"
                    required
                    type="text">


            <input
                    class="form__field"
                    name="odometer"
                    pattern="^[0-9]+"
                    placeholder="Odometer"
                    required
                    type="text">


            <select class="form__field" id="slctSize" name="vehicleSize" required>
                <option label="Vehicle Size" value=""></option>
                <option label="Small" value="Small"></option>
                <option label="Large" value="Large"></option>
            </select>


            <select class="form__field" id="slctType" name="vehicleType" required>
                <option label="Vehicle Type" value=""></option>
                <option label="Class A Motorhome" value="Class A Motorhome"></option>
                <option label="Class B Motorhome" value="Class B Motorhome"></option>
                <option label="Class C Motorhome" value="Class C Motorhome"></option>
                <option label="Travel Trailer" value="Travel Trailer"></option>
                <option label="Fifth Wheel Trailer" value="Fifth Wheel Trailer"></option>
                <option label="Hybrid Travel Trailer" value="Hybrid Travel Trailer"></option>
                <option label="Pop-up Trailer" value="Pop-up Travel Trailer"></option>
                <option label="Truck Camper" value="Truck Camper"></option>
                <option label="Toy Hauler" value="Toy Hauler"></option>
            </select>


            <input
                    class="form__field"
                    name="pricePerDay"
                    pattern="[1-9]+[0-9]{1,10}"
                    placeholder="Price Per Day"
                    required
                    type="text">
            <input
                    class="form__field"
                    name="serviceNote"
                    placeholder="Service Note"
                    type="text">

            <button id="createbutton" type="submit">Create Motorhome</button>

        </form>
    </div>
</div>

<div class="tabcontent" id="viewMotorhomes">
    <table>
        <caption class="left">View Motorhomes</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Odometer</th>
            <th>Size</th>
            <th>Type</th>
            <th>Price Per Day</th>
            <th>Service Note</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        </thead>
        <tr th:each="motorhome: ${motorhomes}">
            <td data-label="Id" th:text="${motorhome.id}"/>
            <td data-label="Brand" th:text="${motorhome.brand}"/>
            <td data-label="Model" th:text="${motorhome.model}"/>
            <td data-label="Odometer" th:text="${motorhome.odometer}"/>
            <td data-label="Size" th:text="${motorhome.vehicleSize}"/>
            <td data-label="Type" th:text="${motorhome.vehicleType}"/>
            <td data-label="Price Per Day" th:text="${motorhome.pricePerDay}"/>
            <td data-label="Service Note" th:text="${motorhome.serviceNote}"/>

            <td data-label="Delete">
                <a th:href="@{'/deletemotorhome/'+${motorhome.id}}">
                    <button class="btnDelete" onclick="return confirm('Are you sure you want to delete?')">Delete
                    </button>
                </a>
            </td>
            <td data-label="Update">
                <a th:href="@{'/updatemotorhome/'+${motorhome.id}}">
                    <button class="btnUpdate">Update</button>
                </a>
            </td>
        </tr>
    </table>
</div>

<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "orange";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    document.getElementById("viewMotorhomes").click();
</script>
</body>
</html>